
html
  box-sizing border-box

*, *:before, *:after 
  box-sizing inherit

body
	color #6c7279
	//font-family Raleway
	font-size 14px
	line-height 1.5
	font-weight 400
	
img 
	max-width 100%
	height auto
a
	text-decoration none
	color black
	
.btn
	width 200px 
	padding 10px
	background-color $bright-red
	border-radius 2px
	font-size 13px
	line-height 1.62
	display inline-block
	text-transform uppercase
	font-weight 600
	color white
	&:hover
		background-color darken(#e84545, 5%)
		
.main
	position relative // FOR OVERLAY
	
	
// FA ICONS

// TYPOGRAPHY

h1
	font-size $h1-size 
	
h2 
	font-size $h2-size

h3 
	font-size $h3-size
	
h4 
	font-size $h4-size
