// COLORS

$dark-grey = #2d3033
$text-color = #6c7279
$bright-red = #e84545
$violet = #53354a
// SIZES

$text-size = 14px
$text-size-small = 13px
$text-size-large = 22px

$h1-size = 65px
$h1-size-medium = 50px
$h1-size-small = 40px

$h2-size = 36px
$h2-size-medium = 34px
$h2-size-small = 32px

$h3-size = 28px
$h3-size-meduim = 26px
$h3-size-small = 24px

$h4-size = 22px
$h4-size-medium = 20px
$h4-size-small = 18px

// FONT AWESOME VARIABLE

$fa-font-path = "../fonts/"